<html>
<head>
    <%- include partials/head.ejs %>
    <style>
      body{
        background-color: #ccc;
      }
      header{
        text-align: center;
        padding-top: 5px;
        height: 2.3em;
        font-size: 2em;
        background-color: #3030a9;
        color: #ccc;
      }
      footer{
        position: absolute;
        width: 100%;
        margin-top: 20vw;
        text-align: center;
      }

      nav{
        display: flex;
        flex-direction: row;
      }
      .nav-btn{
        height: 30px;
        background-color: #ccc;
        flex-grow: 1;
        font-size: 1.5em;
        text-align: center;
        padding-top: 5px;
        border: 1px solid #000;
      }
      .nav-btn:hover{
        background-color: #cce;
      }
      .nav-blank{
        height: 30px;
        background-color: #ccc;
        flex-grow: 1;
        font-size: 1.5em;
        text-align: center;
        padding-top: 5px;
        border: 1px solid #000;
      }
      #linkwrap{
        padding-top: 1px;
        padding-bottom: 1px;
        width: 20%;
        height: auto;
        background-color: #469;
        margin-left: 37vw;
        margin-top: 3px;
        border: 2px double #624;
        border-radius: 5px;
      }
      #title{
        margin-top: 4vh;
        width: 100%;
        text-align: justify;
        font-size: 2em;
      }
      #link{
        font-size: 1em;
        background-color: #676767;
        color: #fff;
        margin-left: 20px;
      }
      #link:hover{
        color: #0f0;
      }
      #pagetitle{
        text-align: center;
      }
      @media only screen and (max-device-width:450px){
        #linkwrap{
          padding-top: 1px;
          padding-bottom: 1px;
          width: auto;
          height: auto;
          background-color: #964;
          margin-left: 5vw;
          margin-right: 5vw;
          margin-top: 3px;
        }
        #title{
          margin-top: 4vh;
          width: 100%;
          text-align: justify;
          font-size: 2em;
        }
        #link{
          font-size: 1em;
          background-color: #676767;
          color: #fff;
          margin-left: 20px;
        }
        #link:hover{
          color: #0f0;
        }
      }
    </style>
    <!--<link rel="stylesheet" href="/styles/index.css"/>-->
</head>
<body>
<%- include partials/header.ejs %>
<nav id="nav">
    <div id="create" class="nav-btn">Create New</div>
    <div id="home" class="nav-blank">Home</div>
</nav>
<h1 id="pagetitle">
    Search Page
</h1>
<% for (var i = 0; i < fileArr.length; i++) { %>
<div id="linkwrap">
    <h1 id="title"><%= fileArr[i] %><a id="link" href="https://voteit.glitch.me/lookup:<%= fileArr[i] %>">Goto</a></h1>
</div>
<% } %>
</body>
<%- include partials/footer.ejs %>
<script src="/scripts/search.js"></script>
</html>