<html>
<head>
    <%- include partials/head.ejs %>
    <style>
      body{
        background-color: #ccc;
      }
      header{
        text-align: center;
        padding-top: 5px;
        height: 2.3em;
        font-size: 2em;
        background-color: #3030a9;
        color: #ccc;
      }
      footer{
        position: absolute;
        width: 98vw;
        margin-top: 5%;
        margin-right: 5vw;
        text-align: center;
        color: #0f0;
        font-size: 1.5em;
        background-color: black;
      }
      nav{
        display: flex;
        flex-direction: row;
      }
      .nav-btn{
        height: 30px;
        background-color: #ccc;
        flex-grow: 1;
        font-size: 1.5em;
        text-align: center;
        padding-top: 5px;
        border: 1px solid #000;
      }
      .nav-btn:hover{
        background-color: #cce;
      }
      #create{
        color: blue;
        order: 0;
      }
      #home{
        color: blue;
        order: 1;
      }
      #linkwrap{
        padding-top: 1px;
        padding-bottom: 1px;
        width: 25vw;
        height: auto;
        background-color: #469;
        overflow-wrap: break-word;
        margin-left: 37vw;
        margin-top: 3px;
        border: 2px double #624;
        border-radius: 5px;
      }
      #link{
        font-size: 1.5em;
        background-color: #676767;
        color: #fff;
        width: 200px;
        text-align: center;
        margin-left: 10%;
      }
      #link:hover{
        color: #0f0;
      }
      #pagetitle{
        text-align: center;
      }
      @media only screen and (max-device-width:450px){
        #linkwrap{
          padding-top: 1px;
          padding-bottom: 1px;
          width: auto;
          height: auto;
          background-color: #469;
          margin-left: 5vw;
          margin-right: 5vw;
          margin-top: 3px;
        }
        #link{
          background-color: #222;
          color: #fff;
          margin-left: 20px;
        }
        #link:hover{
          color: #0f0;
        }
      }
    </style>
    <!--<link rel="stylesheet" href="/styles/index.css"/>-->
</head>
<body>
<%- include partials/header.ejs %>
<nav id="nav">
    <div id="create" class="nav-btn">Create New</div>
    <div id="home" class="nav-btn">Home</div>
</nav>
<h1 id="pagetitle">
    Search Page
</h1>
<% for (var i = 0; i < fileArr.length; i++) { %>
<div id="linkwrap">
    <a href="https://voteit.glitch.me/lookup:<%= fileArr[i] %>"><h1 id="link"  ><%= fileArr[i] %></h1></a>
</div>
<% } %>
</body>
<%- include partials/footer.ejs %>
<script src="/scripts/search.js"></script>
</html>